# CODEOWNERS
app/favicon.ico @Sawako 
app/globals.css @Sawako 
app/layout.tsx @Sawako 
app/page.tsx @Sawako 
components/.gitkeep @Sawako 
components/pages/.gitkeep @Sawako 
components/pages/home/.gitkeep @Sawako 
components/pages/home/client/.gitkeep @Sawako 
components/pages/home/server/.gitkeep @Sawako 
components/shared/.gitkeep @Sawako 
components/shared/client/.gitkeep @Sawako 
components/shared/server/.gitkeep @Sawako 
components/styles/.gitkeep @Sawako 
components/thirdparty/.gitkeep @Sawako 
components/thirdparty/client/.gitkeep @Sawako 
components/thirdparty/server/.gitkeep @Sawako 
lib/.gitkeep @Sawako 
lib/hooks/.gitkeep @Sawako 
lib/types/.gitkeep @Sawako 
lib/utils/.gitkeep @Sawako 
lib/utils/functions/styles/class.ts @Sawako 
__test__/home.cy.ts @Sawako 
